$mycolor: #1a67fa;

.flexContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    // background-image:  linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%)
}

.users{
    display: flex;
    flex-direction: column;
    width:25%;
    height: 640px;
    padding: 15px;
    border-right: 3px solid black;
    // background-image: linear-gradient(40deg, #45cafc, #303f9f) !important;
        // background-color: silver;
}

img{
    border-radius: 50%;
    border: 4px solid black;
    width: 180px;
    height: 180px;
}

h2{
    color: $mycolor;
}


.big{
    width: 75%;
    padding: 5px;
    margin-top: 10px;
    font-weight: bold;
    box-shadow: 3px 3px 12px 3px silver;
}

.btn-add{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    font-weight: bold;
    box-shadow: 3px 3px 12px 3px silver;
}

.small{
    width: 20%;
    padding: 2px;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
    box-shadow: 3px 3px 12px 3px silver;
}

.singleUser{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    left: 25%;
    width: 75%;
    padding: 10px;
}

.user-card{
    padding: 20px;
     width: 97%;
    // height: 100%;
    text-align: center;
    //  border: 2px solid $mycolor;
    box-shadow: 3px 3px 12px 3px $mycolor;
    border-radius: 5px; 
}

